includes:
    - vendor/bitexpert/phpstan-magento/extension.neon
parameters:
    paths:
        - src
    excludePaths:
        - vendor
        - Test/*
    level: 8
    ignoreErrors:
        -
            identifier: missingType.iterableValue